.profile__button-add {
	width: 150px;
	height: 50px;
	border: 2px solid #fff;
	position: relative;
	border-radius: 2px;
	box-sizing: border-box;
}

.profile__button-add::after {
	content: "";
	background-image: url(../../../images/plus-btn.svg);
	width: 22px;
	height: 22px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: calc(50% - 11px);
	left: calc(50% - 11px);
}

@media screen and (max-width: 767px) {
	.profile__button-add {
		width: 100%;
	}
}
